@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    /*background-color: maroon;*/
    background-color: #762057;
    color: white;
    width: 100%;
    text-align: center;
}
 
/* sbrollbar*/
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  border: 1px solid #cccc;
  background: #762057;
  border-radius: 8px;
}
body *::-webkit-scrollbar {
  width: 8px;
}
body *::-webkit-scrollbar-thumb {
  border: 1px solid #cccc;
  background: #762057;
  border-radius: 8px;
}
/*
.nav {
    /*background-color: maroon;
    background-color: #762057;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.0vw;
    left: 0;
}
*/
footer {
    background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
    ;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    padding: 15px;
    height: 70px;
    margin-top: 0;
}


.carousel-inner {
    max-width: 100%;
} 

/* CONTACTO */
.contp {
    color: rgb(117, 32, 87);
    margin: 50px 0px 10px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 800;
    text-align: center;
}

.conth1 {
    font-size: 3em;
    margin-bottom: 40px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.contg {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contrec {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 20em;
    padding: 30px;
    height: 26em;
    background-color: #fafafa;
    border: 2px solid #eeeef0;
    border-radius: 5px;
    margin: 0 50px 0 0;
}

.conth2 {
    color: #752057;
    margin: 0;
    font-size: 1.2em;
    font-weight: 800;    
    margin: 1.1em 1em;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}

.conttext {
    color: #8b8c90;
    
    font-weight: 500;
    text-align: left;
    margin: 7px 0;
    padding: 0;
    text-align: center;
    font-size: 0.9em;
}

.fgopAR {
    color: #732657;
    font-weight: bold;
}

.contlink {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #732657;
}

.conticon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* FORMULARIO */
h2 {
    color: rgb(164, 100, 141);
    text-align: center;
    font-size: 2.0vw;
}

label {
    color: rgb(164, 100, 141);
    text-align: center;
}

#regForm input,
#regForm textarea,
#regForm select {
    background-color: white;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    max-width: 450px;
    width: 100%;
    height: 25px;
    border: none;
    margin-bottom: 20px;
    padding-left: 30px;
    color: rgb(71, 67, 67);
    box-sizing: border-box;
    font-size: small;
}

button {
    background-color: rgb(164, 100, 141);
    color: aliceblue;
    border: none;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 5px;
    width: 80%;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
select {
    text-transform: none;
}
.tarjetas{
    display:flex;
    flex-wrap: wrap;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    align-items: center;
   justify-content: center;
}
.tarjetaproducto{
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    background-color: #fafafa;
    border: 2px solid #eeeef0;
    border-radius: 5px;
    display:block;
    font-family: 'Montserrat', sans-serif;
    flex-basis: 33.33333%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    margin: 25px;
}
.tarjetaproducto:hover{
    opacity: 0.9;
}
.nomprod{
    text-align: center;
    font-size: 1em;
    font-weight: 800; 
    text-transform: uppercase;
    margin: 7px;
    height: 50px;
}
.descprod{
    color: #8b8c90;
    text-align: justify;
    padding: 0 12px;
    font-size: 0.6em;
    margin:10px 0 10px 0; 
}
.precprod {
    color: #762057;
    font-size: 1em;
    text-align: justify;
    padding: 0 15px;
    width: 35%;
    display:inline-block;
    margin: 14px 0 18px;
}
.imgprod{
    border: 2px solid #eeeef0;
    border-radius: 5px;  
    width: 100%;
}
.tarjetaproducto button {
    border: none;
    border-radius: 50%;
    outline: 0;
    padding: 2px 0 0 1.5px;
    background-color: #762057;
    /* text-align: center; */
    cursor: pointer;
    width: 100%;
    height: 100%;
}
  
.tarjetaproducto button:hover {
    opacity: 0.7;
}  
.contboton{
    display:inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;    
}
